<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
            name="monkasa-file"
            fileName="${var:monkasaLogFile}"
            archiveSuffixFormat=".{0:00}"
            archiveAboveSize="5242880"
            maxArchiveFiles="3"
            maxArchiveDays="31"
            keepFileOpen="false"
            encoding="utf-8"
            layout="${longdate} [${level:uppercase=true}] ${logger}: ${message}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Monkasa.*" minlevel="Debug" writeTo="monkasa-file" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="monkasa-file" final="true" />
    <logger name="System.*" minlevel="Warn" writeTo="monkasa-file" final="true" />
    <logger name="*" minlevel="Info" writeTo="monkasa-file" />
  </rules>
</nlog>
